* {
  font-family: arial;
}

div {
  border-style: outset;
  border-color: #4d4d4d;
  margin: 0.5px;
  padding: 2px;
}

#content {
text-shadow: 2px 2px 2px grey;
  background-color: #cccccc;
}
  #headerBox {
  background-color: #7289da;
}

#linksBox {
  text-shadow: 2px 2px 2px grey;
  background-color: #99aab5;
}

#parasBox {
  text-shadow: 2px 2px 2px grey;
  background-color: #999999;
}

.para {
  text-shadow: 2px 2px 2px grey;
  background-color: #bfbfbf;
}
